<section class="ftco-section">
    <div class="container">

        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Über RemedyMatch</h2>
                <p>Als eines der geförderten Gewinnerprojekte aus dem WirVsVirus der deutschen Bundesregierung
                    hervorgegangen,
                    hat sich ein interdisziplinäres Team aus mehr als 80 ehrenamtilichen Unterstützern das Ziel gesetzt,
                    mit RemedyMatch eine bundesweit aktive Spenden- und Logistikplattform zu entwickeln.
                    Hierbei sorgt RemedyMatch mit seiner Open Source Software dafür,
                    dass knapp gewordene Artikel dort ankommen, wo sie am dringendsten gebraucht werden.</p>
            </div>
        </div>

    </div>
</section>
