<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">{{ 'about-us.heading'|trans }}</h2>
                <p>{{ 'about-us.text'|trans }}</p>
                <p>{{ 'about-us.text-2'|trans }}</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-12">
                <img src="{{ asset('/images/visual.png') }}" class="img-fluid"/>
            </div>
        </div>
    </div>
</section>