<section class="ftco-section">
    <div class="container">

        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-4 heading-section ftco-animate text-center">
                <img src="{{ asset('assets/images/karte.png') }}" style="width: 90%"
                     alt="Karte von Deutschland"/>
            </div>
            <div class="col-md-8 heading-section ftco-animate">
                <h2 class="mb-4">Über RemedyMatch</h2>
                <p>RemedyMatch ist eine deutschlandweite Logistikplattform, die Bestand und Bedarf von medizinischen
                    Schutzartikeln zusammenbringt! RemedyMatch erfasst zu spendende Schutzartikel, wie Handschuhe,
                    Masken, Kittel oder Desinfektionsmittel, und sorgt dafür, dass diese dort ankommen, wo sie
                    gebraucht werden. So werden Lieferengpässe während der COVID-19 Pandemie überbrückt und der
                    persönliche Schutz der Helferinnen und Helfer gewährleistet.</p>
                <h3>Für wen?</h3>
                <p>Alle, die medizinisch tätig sind oder besondere Hygienevorschriften einhalten müssen und aktuell
                    einen Mangel erleben, dürfen einen Bedarf einstellen. Das können Kliniken, niedergelassene
                    Ärztinnen und Ärzte, Pflegekräfte, Mitarbeiter:innen im Einzelhandel oder pflegende Angehörige
                    sein.</p>

                <h3>Wer spendet?</h3>
                <p>Es sind alle aufgerufen, Schutzartikel kostenfrei zur Verfügung zu stellen, die diese aktuell
                    nicht benötigen. Das können Fitnessstudios, Restaurants, Hotels, Lackierer, Betriebe, Werkstätte
                    oder Privathaushalte sein. Jeder Handschuh hilft!
                    Außerdem sucht RemedyMatch freiwillige Einzelpersonen oder Unternehmen, die beim Transport von
                    Spenden unterstützen.</p>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                        <span class="block-20"
                              style="background-image: url('{{ asset('assets/images/workers.jpg') }}');">
                        </span>
                    <div class="text p-4 d-block">
                        <h3 class="heading mt-3"><a href="#">Bedarfserbringer</a></h3>
                        <p>Betriebe, Labore, Restaurants, Tätowierer, Fitness-Studios, Gesundheitseinrichtungen
                            und Privatpersonen pflegen den Bestand lagernder Schutzartikel in die Plattform ein.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                        <span class="block-20"
                              style="background-image: url('{{ asset('assets/images/medicals.jpg') }}');">
                        </span>
                    <div class="text p-4 d-block">
                        <h3 class="heading mt-3"><a href="#">Bedarfsträger</a></h3>
                        <p>Krankenhäuser, niedergelassene Ärzte, Pflegedienste, Physiotherapeuten, pflegende
                            Privatpersonen und weitere Institutionen können über RemedyMatch schnell und lokal
                            verfügbare medizinische Schutzausrüstung finden und den Kontakt zu Spendern
                            aufnehmen.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                        <span class="block-20"
                              style="background-image: url('{{ asset('assets/images/taxi.png') }}');">
                        </span>
                    <div class="text p-4 d-block">
                        <h3 class="heading mt-3"><a href="#">Logistik</a></h3>
                        <p>Ebenso bietet RemedyMatch die Möglichkeit, Transportunterstützung anzufordern und
                            Logistikpartner einzubinden. Hierzu können sich Logistikpartner (Betriebe oder
                            Privatpersonen) registrieren, um gemeinnützige Unterstützung anzubieten.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
