<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading">Helfen</h3>
                        <p>Seien Sie in diesen schwierigen Zeiten solidarisch und spenden Sie Schutzmaterial oder
                            helfen Sie beim Transport!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading">Bedarf anmelden</h3>
                        <p>Sie benötigen dringend Materialien? Melden Sie Ihren Bedarf an, RemedyMatch bringt
                            Sie mit einer passenden Spende zusammen!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3">
                        <span class="material-icons">code</span>
                    </div>
                    <div class="media-body pl-4">
                        <h3 class="heading">Open Source</h3>
                        <p>
                            Wir suchen aktuell noch Verstärkung in den Bereichen Logistik Know-How, Marketing
                            und Cloud-Infrastruktur. Bitte meldet Euch über unser Kontaktformular. An die
                            Entwickler da draußen: Wir suchen noch Leute für Frontend (React), Prozessexperten
                            und UX-Design. Unser Projekt ist Open Source, schaut doch mal in unserem <a
                                    href="https://github.com/remedyMatch" target="_blank">Github</a> Account vorbei.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>