<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Partner werden️</h2>
                <p>Auch als Non-Profit Projekt entstehen RemedyMatch und seinem Team Aufwand und Kosten.
                    Daher sind wir immer offen für  Kooperationen mit Partnerunternehmen,
                    die unser Projekt in Form von  Beratungsleistungen, Reichweitensupport,
                    technischer Infrastruktur sowie dem Zugang zu Netzwerkenunterstützen.
                    Sie möchten Partner werden?<br/> <a href="#contact-anchor">Hier</a> erfahren sie mehr!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-cause owl-carousel">
                    {% for partner in partners %}
                        <div class="item">
                            <div class="cause-entry">
                                <a class="img" href="{{ partner.url }}" target="_blank"
                                   style="background: url('{{ asset(partner.img) }}'); background-size:  80%; background-repeat: no-repeat; background-position: center; padding: 1em;">
                                </a>
                                <div class="text p-3 p-md-4">
                                    <p>{{ partner.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>