<section class="ftco-section bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-5 heading-section ftco-animate text-center">
                <h2 class="mb-4">Über uns</h2>
                <p>RemedyMatch entstand als gemeinnütziges Open Source Projekt im Rahmen des <a
                            href="https://wirvsvirushackathon.org/" rel="nofollow" target="_blank">#WirVsVirus
                        Hackathons der Bundesregierung</a>.
                    Der bundesweite Hackathon #WirVsVirus am 20.-22. März 2020 war eine gemeinsame Veranstaltung von
                    Bundesregierung und sieben sozialen Initiativen
                    und steht unter der Schirmherrschaft des Chefs des Bundeskanzleramts Prof. Dr. Helge Braun.</p>
                <div class="row">
                    <div class="col-md-9 ftco-animate text-center">
                        <p class="mt-5 d-none d-md-block">
                            <iframe width="534" height="300"
                                    src="https://www.youtube.com/embed/QIhFcmSnDLQ?controls=0"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </p>
                        <p class="mt-5 d-md-none" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            <a class="btn btn-info px-4 py-3 popup-youtube"
                               style="border-bottom: 0;"
                               href="https://www.youtube.com/watch?v=QIhFcmSnDLQ">
                                <span class="icon-play mr-2"></span>
                                Video abspielen</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>