parameters:
    paths:
        - src
    level:
        max
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - */src/Migrations/*

includes:
    - phpstan-baseline.neon