{% extends 'base.html.twig' %}

{% block body %}
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>{% trans %}Impressum{% endtrans %}</h2>
                    <span class="icon icon-map-marker"></span>
                    <span
                            class="text">Spielmeister GmbH<br/>Jahnstr. 1<br/>01067 Dresden</span>
                    <br/>
                    <span><a
                                href="javascript:window.location.href = 'mailto:' + ['info','remedymatch.io'].join('@')"><span
                                    class="text">Kontakt via E-Mail</span></a></span>
                </div>
                <div class="col-md-3">
                    <h2>Rechtliche Angaben</h2>
                    Geschäftsführer: Julian Haupt</br>
                    Registergericht: Amtsgericht Dresden</br>Registernummer: HRB 35655
                </div>
                <div class="col-md-6">
            <h3>Warum Spielmeister GmbH?</h3>
                    <p>
                        Dieses Projekt wurde während des #WirVsVirus Hackathons von über 30 Personen erstellt.<br>
                        Die Spielmeister GmbH übernimmt übergangsweise den Betrieb dieser Plattform bis eine neu zu gründene
                        <strong>gemeinnützige Organisation oder gemeinnütziger Verein</strong> den Betrieb der Plattform übernehmen kann.
                    </p>
                    <p>Der Geschäftsführer Julian Haupt ist Teilnehmer des #WirVsVirus Hackathons.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

