<!-- Background Image with Text : BEGIN -->
<tr>
    <!-- Bulletproof Background Images c/o https://backgrounds.cm -->
    <td valign="middle" style="text-align: center; background-image: url('{{ absolute_url('/images/mail-header.jpg') }}'); background-color: #222222; background-position: center center !important; background-size: cover !important;">
        <!--[if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:175px; background-position: center center !important;">
                    <v:fill type="tile" src="{{ absolute_url('/images/mail-header.jpg') }}" color="#222222" />
                    <v:textbox inset="0,0,0,0">
                <![endif]-->
        <div>
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td valign="middle" style="text-align: center; padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #ffffff;">
                        <p></p>
                        <p></p>
                        <p style="margin: 0;">RemedyMatch ist eine gemeinnützige Logistikplattform, die deutschlandweit Bestand und Bedarf von medizinischen Schutzartikeln zusammenbringt!</p>
                    </td>
                </tr>
            </table>
        </div>
        <!--[if gte mso 9]>
        </v:textbox>
        </v:rect>
        <![endif]-->
    </td>
</tr>
<!-- Background Image with Text : END -->