<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Unterstützer &amp; Partner️</h2>
                <p>Als nicht-kommerzielles Projekt entstehen RemedyMatch und seinem Team Aufwand und
                    Kosten. Daher sind wir in Kontakt mit einer Reihe von Partnern, die unser Projekt mit
                    Sachspenden oder Knowhow unterstütze.. Alle Partner tauchen bald an dieser Stelle auf. Wenn
                    Sie sich in Form von Logistik, Medienpartnerschaft, Cloud-Dienstleistungen, Knowhow oder
                    Marketing einbringen möchten, kontaktieren Sie uns jederzeit.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-cause owl-carousel">
                    {% for partner in partners %}
                        <div class="item">
                            <div class="cause-entry">
                                <a class="img" href="{{ partner.url }}" target="_blank"
                                   style="background: url('{{ asset(partner.img) }}'); background-size:  80%; background-repeat: no-repeat; background-position: center; padding: 1em;">
                                </a>
                                <div class="text p-3 p-md-4">
                                    <p>{{ partner.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>