<section class="ftco-section">
       <div class="wrapper">
            <form action="" id="wizard">
        		<!-- SECTION 1 -->
                <h2></h2>
                <section>
                    <div class="inner">
						
						<div class="form-content" >
							<div class="form-header">
								<h3>Persönliche Daten</h3>
							</div>
							
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="Vorname" class="form-control">
								</div>
								<div class="form-holder">
									<input type="text" placeholder="Nachname" class="form-control">
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="email" placeholder="Email" class="form-control">
								</div>
								
							</div>
							
						</div>
					</div>
                </section>

				<!-- SECTION 2 -->
                <h2></h2>
                <section>
                    <div class="inner">
						
						<div class="form-content">
							<div class="form-header">
								<h3>Kontaktinformationen</h3>
							</div>
							
							<div class="form-row">
								<div class="form-holder w-100">
									<input type="text" placeholder="Adresse" class="form-control">
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="Stadt" class="form-control">
								</div>
								<div class="form-holder">
									<input type="text" placeholder="PLZ" class="form-control">
								</div>
							</div>

							</div>
						</div>
					
                </section>

                <!-- SECTION 3 -->
                <h2></h2>
                <section>
                    <div class="inner">
						
						<div class="form-content">
							<div class="form-header">
								<h3>Optionale Informationen</h3>
							</div>
							
							<div class="form-row">
								<div class="form-holder w-100">
									
									<input type="text" placeholder="Organisationsname" class="form-control">
								
									<select class="form-control">
										<option>Krankenhaus</option>
										<option>Pflegedienst</option>
										<option>Arzt</option>
									</select>
								</div>
							</div>
							
						</div>
					</div>
                </section>
            </form>
		</div>
 </section>
