<section class="ftco-section">
	<div class="container">
        <div class="row d-md-flex">
            <div class="col-md-12 volunteer pl-md-5 ftco-animate fadeInUp ftco-animated">
			   <div class="wrapper">
					<form action="forms.php" method="post" id="wizard">
						<!-- SECTION 1 -->
						<h2></h2>
						<section>
							<div class="inner">
								
								<div class="form-content" >
									<div class="form-header">
										<h3 style="color:#000;">Persönliche Daten</h3>
									</div>
									 
									 <div class="form-row">
    									<div class="form-group col-md-6">
											<label for="firstName">Vorname*</label>
											<input type="text" id="firstName" placeholder="Vorname" class="form-control required">
										</div>
										<div class="form-group col-md-6">
											<label for="lastName">Nachname*</label>
											<input type="text" id="lastName" placeholder="Nachname" class="form-control required">
										</div>
									</div>
									<div class="form-group">
										
											<label for="email">Email*</label>
											<input type="email" id="email" placeholder="Email" class="form-control required" >
										
									</div>
								</div>
							</div>
						</section>

						<!-- SECTION 2 -->
						<h2></h2>
						<section>
							<div class="inner">
								
								<div class="form-content">
									<div class="form-header">
										<h3 style="color:#000;">Kontaktinformationen</h3>
									</div>
									
									<div class="form-check form-check-inline">
									  <input class="form-check-input" type="radio" name="kind" id="privatePerson" value="private" onchange="selectedKind();" checked="checked">
									  <label class="form-check-label" for="privatePerson">Privatperson</label>
									</div>
									<div class="form-check form-check-inline">
									  <input class="form-check-input" type="radio" name="kind" id="institute" value="institute" onchange="selectedKind();">
									  <label class="form-check-label" for="institute">Institution</label>
									</div>
									<div id="orgNameDiv" class="form-group d-lg-none">
									<div class="form-group">
										<label for="orgName">Organisationsname</label>
										<input type="text" placeholder="Organisationsname" id="orgName" class="form-control">
									</div>
									<div class="form-row">
										<div class="form-group col-md-12">
											<label for="orgKategorie">Art der Organisation</label>
											<input name="orgKategorie" id="orgKategorie" list="orgKat" class="form-control">
												<datalist id="orgKat">
													<option value="Krankenhaus">Krankenhaus</option>
													<option value="Pflegende Angegehörige">Pflegende Angegehörige</option>
													<option value="Pflegedienst">Pflegedienst</option>
													<option value="Gewerbe und Industrie">Gewerbe und Industrie</option>
												</datalist>
										</div>
									</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="street">Straße*</label>
											<input type="text" id="street" placeholder="Straße" class="form-control required" >
										</div>
										<div class="form-group col-md-6">
											<label for="houseNumber">Hausnummer*</label>
											<input type="text" id="houseNumber" placeholder="Hausnummer" class="form-control required" >
										</div>
		 
									</div>
									<div class="form-row">
										<div class="form-group col-md-2">
											<label for="zipCode">Postleitzahl*</label>
											<input type="text" placeholder="PLZ" class="form-control required">
										</div>
										
										<div class="form-group col-md-10">
											<label for="town">Stadt*</label>
											<input type="text" id="town" placeholder="Stadt" class="form-control required">
										</div>
									</div>

									</div>
								</div>
							
						</section>

						<!-- SECTION 3 -->
						<h2></h2>
						<section>
							<div class="inner">
								
								<div class="form-content">
									<div class="form-header">
										<h3 style="color:#000;">Logindaten festlegen</h3>
									</div>
									
									<div class="form-group">
										
											<label for="password">Passwort*</label>
											<input type="password" id="password" placeholder="Passwort" class="form-control required" onKeyUp="checkPasswordStrength();">
											<div id="password-strength-status"></div>									
											<label for="confirm">Passwort wiederholen*</label>
											<input type="password" id="confirm" placeholder="Passwort wiederholen" class="form-control required" onKeyUp="checkPasswordConfirm();">
											<div id="password-correct"></div>
										
									</div>
									<div class="form-row">
										<div class="form-group form-check-inline">
											  <label class="form-check-label" for="acceptTerms">Hiermit akzeptiere ich die <a href="/dataprotection.php"> Datenschutzerklärung</a>.*</label>
											  <input class="form-check-input required" type="checkbox" id="acceptTerms" name="acceptTerms">
											  
										</div>
									</div>
								</div>
							</div>
						</section>
						
					</form>
				</div>
			</div>
		</div>
	</div>
 </section>
