{% extends 'emails/mail_base.html.twig' %}
{% block body %}
    {% embed 'emails/blocks/1-col.twig' %}
        {% block title %}Hallo {{ account.firstname }}!{% endblock %}
        {% block body %}
            <p>
                <b>Nun ist es soweit: RememdyMatch.io ist freigeschaltet!</b>
            </p>
            <p>
                Sie haben sich vor kurzem auf unserer Plattform RemedyMatch.io registriert. Damit Sie die Plattform nutzen können, benötigen wir noch einige Informationen von Ihnen.
            </p>
            <h4>Warum die zusätzlichen Angaben?</h4>
            <p>
                Betrüger und Krisengewinnler nutzen diese besonderen Zeiten, um durch Schwarzmarkthandel und unsolidatisches Verhalten persönlichen Profit zu erwirtschaften. <br />
                <b>Als Social Startup unterstützt RememdyMatch dies keinesfalls!</b> Aus diesem Grund prüfen wir nach bestem Wissen und Gewissen die Nutzer, die Zugang zur Plattform anfragen.
            </p>
            <h4>Wie können Sie uns unterstützen?</h4>
            <p>Bitte beantworten Sie uns folgende Fragen, damit wir Ihren Account verifizieren können.</p>
            {% if not account.company %}
                <p>
                    Sie haben angegeben, dass Sie zur Organisation <b>{{ account.company }} in {{ account.city }}</b> gehören.
                </p>
                <p>
                    Teilen Sie uns bitte folgende Daten mit:<br />

                    - <b>Name der Institution</b><br />
                    - <b>Name der Geschäftsleitung</b><br />
                    - <b>offizielle geschäftliche E-Mail-Adresse</b> Ihrer Institution für die Verifikation<br />
                    - <b>Begründung</b> für Bedarf an Schutzmaterialien<br />
                    </b>
                </p>
            {% else %}
                <p>
                    Sie haben sich als Privatperson angemeldet. Aus welchem Grund möchten Sie die Plattform nutzen?
                </p>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}