{% extends 'emails/mail_base.html.twig' %}
{% block body %}
    {% embed 'emails/blocks/1-col.twig' %}
        {% block title %}Hallo Herr/Frau {{ account.lastname }}!{% endblock %}
        {% block body %}
            <p>
                <b>Nun ist es soweit: RememdyMatch.io wurde für Sie freigeschaltet!</b>
            </p>
            <p>
                Sie haben sich vor kurzem auf unserer Plattform RemedyMatch.io registriert und können die Plattform nun
                nutzen.</p>

            <p>Bitte beachten Sie, dass wir uns aktuell in der Aufbauphase befinden und die RemedyMatch.io Anwendung derzeit von einem großen Team kontinuierlich weiterentwickelt wird.</p>

            <p>Sollten Sie Feedback zu der RemedyMatch.io Anwendung haben, so senden Sie uns jederzeit eine E-Mail an: <b>info@remedeymatch.io</b></p>

            <p>Loggen Sie sich mit Ihrer E-Mailadresse <b>{{ account.email }}</b> und Ihrem Passwort ein.
            </p>
            {% include 'emails/blocks/button.twig' with {'title':'RemedyMatch öffnen', 'href':absolute_url('/app')} %}
        {% endblock %}
    {% endembed %}
{% endblock %}