{% extends 'emails/mail_base.html.twig' %}
{% block body %}
    {% embed 'emails/blocks/1-col.twig' %}
        {% block title %}{{ firstname }}, aktiviere jetzt deinen Zugang{% endblock %}
        {% block body %}
<p>Bitte klicke auf den Button, um deinen Zugang zu RemedyMatch zu aktivieren.</p>
{% include 'emails/blocks/button.twig' with {'title': 'Account aktivieren', 'href': confirmLink } %}
    <p>
    </p>
    <p>
    </p>
    <p>
        Du siehst keinen Button? Dann klicke hier:
        <a href="{{ confirmLink }}">{{ confirmLink }}</a>
    </p>
        {% endblock %}
    {% endembed %}
{% endblock %}