{% extends 'layout/base-layout.html.twig' %}

{% block body %}
    <section class="ftco-section">
        <div class="container">
            <h2>Impressum</h2>
            <span class="icon icon-map-marker"></span>
            <span
                    class="text">Julian Haupt<br/>Meschwitzstraße 15<br/>01099 Dresden</span>
            <br/>
            <a href="javascript:window.location.href = 'mailto:' + ['remedymatch2020','gmx.de'].join('@')"><span
                        class="icon icon-envelope"></span><span
                        class="text">Kontakt</span></a>
        </div>
    </section>
{% endblock %}

