{% extends 'base.html.twig' %}

{% block body %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center">
                    <h2>Allgemeine Geschäftsbedingungen für die Nutzung der Internetplattform und die Spendenverteilung über remedymatch.io</h2>
                    <p>
                        RemedyMatch (nachfolgend „remedymatch“) bietet auf ihrer Webseite „www.remedymatch.io“ eine Plattform zur Sammlung von Sachspenden (nachfolgend „Spender“) für
                        medizinischen Schutzartikel im Zuge der Corona-Krise an (nachfolgend „Plattform“).
                        remedymatch vermittelt lediglich diese Sachspenden an medizinisch oder an solche, tätige Personen oder Unternehmen die besondere Hygienevorschriften einhalten müssen.
                    </p>
                    <p>
                        Mit wenigen Ausnahmen können sich alle folgenden Personen, Unternehmen und/oder
                        Organisationen/Vereine/Stiftungen in Deutschland bei remedy auf unserer Plattform registrieren (sog. Empfänger):

                        <div class="col-md-5 offset-4">
                            <ul class="list-group">
                                <li class="list-group-item">medizinisches Personal (Ärzte, Apotheker etc.)</li>
                                <li class="list-group-item">medizinische Organisationen (Krankenhäuser, Arztpraxen etc.)</li>
                                <li class="list-group-item">gemeinnützig anerkannte Organisationen</li>
                            </ul>
                        </div>
                    </p>
                    <p>
                        Ein Anspruch auf Registrierung besteht nicht. Die registrierten Empfänger können auf remedymatch nach verfügbaren Sachspenden suchen, oder eine Sachspendeanfragen stellen.
                    </p>
                    <p>
                        Durch die Registrierung stimmen die Empfänger den folgenden Bedingungen zu:
                    </p>

                </div>
                <div class="row">
                    <div class="col-md-12 heading-section text-center">
                        <h3>1. Geltungsbereich</h3>
                        <p>
                            Für die Beziehung zwischen remedymatch und den Empfängern gelten ausschließlich die nachfolgenden Allgemeinen Geschäftsbedingungen in ihrer jeweils gültigen Fassung.
                            Abweichende Bedingungen des Empfängers werden nicht anerkannt, es sei denn, remedymatch stimmt ihrer Geltung ausdrücklich schriftlich zu.
                        </p>


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 heading-section text-center">
                        <h3>2. Bestellung</h3>
                        <p>
                            Für die Beziehung zwischen remedymatch und den Empfängern gelten ausschließlich die nachfolgenden Allgemeinen Geschäftsbedingungen in ihrer jeweils gültigen Fassung.
                            Abweichende Bedingungen des Empfängers werden nicht anerkannt, es sei denn, remedymatch stimmt ihrer Geltung ausdrücklich schriftlich zu.
                        </p>


                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12 heading-section text-center">
                        <h4 class="">2.1</h4>
                        <p>
                            remedymatch übernimmt keine Gewähr für die tatsächliche Verfügbarkeit der auf der Plattform angebotenen Spenden von den Spendern.
                        </p>
                        <p>
                            Folgende Artikel können auf der Plattform von remedymatch von Spendern angeboten und von den Empfängern angefragt werden:

                        <div class="col-md-4 offset-4">
                            <ul class="list-group">
                                <li class="list-group-item">Behelfsmasken</li>
                                <li class="list-group-item">Desinfektionsmittel</li>
                                <li class="list-group-item">Schutzkleidung</li>
                                <li class="list-group-item">Gesichtsschutz</li>
                                <li class="list-group-item">Handschuhe</li>
                            </ul>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 heading-section text-center">
                        <h4>2.2</h4>
                        <p>
                            remedymatch tritt lediglich als Vermittler zwischen Spendern und Empfänger auf. Bei der Annahme von Spenden auf der Plattform kommt kein Vertrag über den
                            Bezug der Spenden zwischen dem Empfänger und remedymatch zustande. Der Eigentumsübergang der Spenden findet direkt zwischen Spender und Empfänger statt.
                        </p>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 heading-section text-center">
                        <h3>3. Haftung</h3>
                        <p>
                            Es wird keinerlei Haftung für die Beschaffenheit, Nutzbarkeit und Verkehrsfähigkeit der Spenden übernommen. Dies gilt sowohl für remedymatch als auch für die Spender.
                        </p>


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 heading-section text-center">
                        <h3>4. Zweckgebundenheit</h3>
                        <p>
                            Die Empfänger verpflichten sich, die Waren nur für ihre eigenen Zwecke bzw. für ihre eigene Verwaltung zu nutzen. Verkauf und Verlosung der Produkte sind untersagt.
                            Sollten darüber hinausgehende Zwecke oder Einschränkungen in Bezug auf
                            die Verwendung der Spenden vereinbart sein, sind diese ebenfalls einzuhalten. Der Empfänger muss zu jeder Zeit in der Lage sein, die Nutzung der erhaltenen Spenden nachzuweisen.
                        </p>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h3>5. Audit und Prüfung</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h4>5.1</h4>
                    <p>
                        remedymatch sowie von remedymatch benannte Dritte haben das Recht, die Systeme, Aufzeichnungen, Daten, Praktiken und Verfahren des Empfängers zur
                        Einhaltung der in Ziffer 4 genannten Vorgaben zu inspizieren,
                        zu prüfen und zu auditieren, sobald remedymatch Informationen erhält, dass gegen die o.g. Bestimmungen verstoßen wird.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h4>5.2</h4>
                    <p>
                        Die Audits finden zu normalen Geschäftszeiten und nach angemessener vorheriger Ankündigung statt. Eine vorherige angemessene Ankündigung ist für solche Audits nicht erforderlich,
                        bei denen mutmaßliches illegales oder vertragswidriges Verhalten überprüft werden soll.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h3>6. Nutzung der Plattform</h3>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h4>6.1</h4>
                    <p>
                        remedymatch behält sich das Recht vor, die Nutzung der Plattform jederzeit ohne Angabe von Gründen einzuschränken oder den Zugang zu entziehen.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h4>6.2</h4>
                    <p>
                        Empfängern steht es jederzeit frei, sich von der Plattform abzumelden.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h3>7. VERTRAGSWIDRIGES VERHALTEN</h3>
                    <p>
                        Verstößt der Empfänger schuldhaft gegen die in Ziffer 4 aufgeführten Vorgaben ist remedymatch berechtigt, den Empfänger von der Nutzung der Plattform mit sofortiger Wirkung auszuschließen.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h3>8. Veröffentlichung/Marketing</h3>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h4>8.1</h4>
                    <p>
                        Der Empfänger wird ohne vorherige schriftliche Erlaubnis remedymatch den Namen des Spenders oder sonstige Informationen in Bezug auf den Spender Dritten nicht offenlegen.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h4>8.2</h4>
                    <p>
                        remedymatch ist berechtigt die Nutzung der Plattform und die Bestellungen des Empfängers den Spendern offen zu legen und anderweitig zu veröffentlichen.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h3>9 Anwendbares Recht, Gerichtsstand</h3>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h4>9.1</h4>
                    <p>
                        Das Rechtsverhältnis zwischen den Parteien unterliegt dem Recht der Bundesrepublik Deutschland.
                        Die Bestimmungen des Wiener UN-Übereinkommens über Verträge über den internationalen Warenkauf vom 11. April 1980 finden keine Anwendung.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <h4>9.2</h4>
                    <p>
                        Ausschließlicher Gerichtsstand ist Berlin.
                    </p>
                </div>
            </div>
        </div>

    </section>
{% endblock %}