{%extends 'base.html.twig'%}


{%block body%}

<section class="ftco-section">
        <div class="container">
		<div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Jobs bei RemedyMatch</h2>
               <p> Wir suchen dich, hilf auch du anderen Menschen zu helfen!</p>
            </div>
        </div>
            <div class="row">
                <div class="col-md-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                    <div class="media block-6 d-flex services p-3 py-4 d-block">
                        <div class="icon d-flex mb-3"><span class="material-icons">code</span></div>
                        <div class="media-body pl-4">
                            <h3 class="heading">Backend-Developer für PHP</h3>
							<p>Du verfügst über Kenntnisse in:
                            <ul class="list-group list-group-flush">
								<li class="list-group-item">Symfony oder</li>
								<li class="list-group-item">Doctrine oder</li>
								<li class="list-group-item">Rest-APIs oder</li>
								<li class="list-group-item">Twig</li>
							</ul>
							dann bist du bei uns Richtig.
							</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                    <div class="media block-6 d-flex services p-3 py-4 d-block">
                        <div class="icon d-flex mb-3"><span class="material-icons">code</span></div>
                        <div class="media-body pl-4">
                            <h3 class="heading">Backend-Developer für Java</h3>
							<p>Du verfügst über Kenntnisse in:
                            <ul class="list-group list-group-flush">
								<li class="list-group-item">Java oder</li>
								<li class="list-group-item">Springboot oder</li>
								<li class="list-group-item">Keycloak oder</li>
								
							</ul>
							dann bist du bei uns Richtig.
							</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                    <div class="media block-6 d-flex services p-3 py-4 d-block">
                        <div class="icon d-flex mb-3"><span class="material-icons">code</span></div>
                        <div class="media-body pl-4">
                            <h3 class="heading">Frontend Developer</h3>
							<p>Du verfügst über Kenntnisse in:
                            <ul class="list-group list-group-flush">
								<li class="list-group-item">React oder</li>
								<li class="list-group-item">HTML oder</li>
								<li class="list-group-item">JavaScript oder</li>
								<li class="list-group-item">CSS</li>
							</ul>
							dann bist du bei uns Richtig.
							</p>
                        </div>
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-md-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                    <div class="media block-6 d-flex services p-3 py-4 d-block">
                        <div class="icon d-flex mb-3"><span class="material-icons">code</span></div>
                        <div class="media-body pl-4">
                            <h3 class="heading">Software Experte Keycloak</h3>
							<p>Du bist Software Experte in Keycloak und kannst 
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Administration oder</li>
								<li class="list-group-item">Konfiguration</li>
								
							</ul>
							besonders gut. Dann bist du bei uns richtig.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                    <div class="media block-6 d-flex services p-3 py-4 d-block">
                        <div class="icon d-flex mb-3"><span class="material-icons">code</span></div>
                        <div class="media-body pl-4">
                            <h3 class="heading">DevOps</h3>
							<p>Du verfügst über Kenntnisse in:
                            <ul class="list-group list-group-flush">
								<li class="list-group-item">Docker oder</li>
								<li class="list-group-item">NGINX oder</li>
								<li class="list-group-item">MySQL oder</li>
								<li class="list-group-item">PostgresSQL</li>
							</ul>
							dann bist du bei uns Richtig.
							</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
{%endblock %}