<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-7">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Über RemedyMatch</h2>
                    <p>RemedyMatch ist ein System zur Schaffung einer bundesweiten Bestands- und Bedarfsübersicht von
                        medizinischen Schutzartikeln für Institutionen im Kampf gegen COVID-19.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="https://twitter.com/RMatch2020"><span
                                        class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/RMatch2020/"><span
                                        class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.instagram.com/remedymatch/"><span
                                        class="icon-instagram"></span></a></li>
                        <li class="ftco-animate"><a
                                    href="https://www.youtube.com/channel/UCA87nAMk_Q2obGjmBh0iN0A"><span
                                        class="icon-youtube"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.linkedin.com/company/remedymatch/"><span
                                        class="icon-linkedin"></span></a></li>
                        <li class="ftco-animate"><a href="https://github.com/remedyMatch"><span
                                        class="icon-github"></span></a></li>

                    </ul>
                </div>
            </div>
            {#
             <div class="col-md-4">
                 <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">Recent Blog</h2>
                     <div class="block-21 mb-4 d-flex">
                         <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                         <div class="text">
                             <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                             <div class="meta">
                                 <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                 <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                 <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="block-21 mb-4 d-flex">
                         <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                         <div class="text">
                             <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                             <div class="meta">
                                 <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                 <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                 <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             #}
            <div class="col-md-2">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a class="py-2 d-block" href="/">Startseite</a></li>
                        <li><a class="py-2 d-block" href="/dataprotection.php">Datenschutz</a></li>
                        <li><a class="py-2 d-block" href="/impressum.php">Impressum</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Impressum</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Julian Haupt<br/>Meschwitzstraße 15<br/>01099 Dresden</span>
                            </li>
                            <li>
                                <a href="javascript:window.location.href = 'mailto:' + ['remedymatch2020','gmx.de'].join('@')"><span
                                            class="icon icon-envelope"></span><span
                                            class="text">Kontakt</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <br/>
                    Photo by 🇨🇭 Claudio Schwarz | @purzlbaum on Unsplash
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                <p>

                </p>
            </div>
        </div>
    </div>
</footer>


<!-- loader -->
<div class="show fullscreen" id="ftco-loader">
    <svg class="circular" height="48px" width="48px">
        <circle class="path-bg" cx="24" cy="24" fill="none" r="22" stroke="#eeeeee" stroke-width="4"/>
        <circle class="path" cx="24" cy="24" fill="none" r="22" stroke="#F96D00" stroke-miterlimit="10"
                stroke-width="4"/>
    </svg>
</div>

<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.stellar.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/jquery.animateNumber.min.js"></script>
<script src="assets/js/bootstrap-datepicker.js"></script>
<script src="assets/js/jquery.timepicker.min.js"></script>
<script src="assets/js/jquery.steps.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>

<script src="assets/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="assets/js/google-map.js"></script>
<script src="assets/js/main.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161923811-1"></script>
<script> window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-161923811-1', {'anonymize_ip': true});

</script>
<script type="text/javascript">
var form = $("#wizard");
var stepChanged=false;

$(function(){
    $.validator.messages.required = 'Leeres Feld nicht möglich';
    $.validator.messages.email = 'Gib eine gültige Email ein';
	$("#wizard").steps({
        headerTag: "h2",
        bodyTag: "section",
        transitionEffect: "fade",
        enableAllSteps: true,
        transitionEffectSpeed: 500,
        labels: {
            finish: "Abschließen",
            next: "Nächster Schritt",
            previous: "Zurück"
        },
         onFinished: function (event, currentIndex)
        {
            document.getElementById("wizard").submit();
        },
        onStepChanging: function (event, currentIndex, newIndex)
        {
            if (currentIndex > newIndex)
            {
                stepChanged=true;
                return true;
            }
            if (currentIndex < newIndex)
            {
                // To remove error styles
                form.find(".body:eq(" + newIndex + ") label.error").remove();
                form.find(".body:eq(" + newIndex + ") .error").removeClass("form-control is-invalid");
            }
            
            form.validate().settings.ignore = ":disabled,:hidden";
            stepChanged =  form.valid();
            return form.valid();
        },
        onFinishing: function (event, currentIndex)
        {
            form.validate().settings.ignore = ":disabled";
            if(!checkPasswordStrength()){
                $('#password').focus();
                stepChanged=false;
                return false;
            }
            if(!checkPasswordConfirm()){
                $('#confirm').focus();
                stepChanged=false;
                return false;
            }
            return form.valid();
        }
    });
    $('.wizard > .steps li a').click(function(){
        if(stepChanged){
            $(this).parent().addClass('checked');
            $(this).parent().prevAll().addClass('checked');
            $(this).parent().nextAll().removeClass('checked');
        }
        
    });
    // Custome Jquery Step Button
    $('.forward').click(function(){
    	$("#wizard").steps('next');
    })
    $('.backward').click(function(){
        $("#wizard").steps('previous');
    })
   
});
function checkPasswordStrength() {
    var number = /([0-9])/;
    var alphabets = /([a-zA-Z])/;
    var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
    if($('#password').val().length<6) {
        $('#password-strength-status').removeClass();
        $('#password-strength-status').addClass('weak-password');
        $('#password-strength-status').html("Passwort muss mindestens 6 Zeichen lang sein.");
        $('#password').removeClass();
        $('#password').addClass('form-control is-invalid');
        $('#password').focus();
        return false;
    } else {  	
        if($('#password').val().match(number) && $('#password').val().match(alphabets) && $('#password').val().match(special_characters)) {            
            $('#password-strength-status').removeClass();
            $('#password-strength-status').addClass('strong-password');
            $('#password-strength-status').html("");
            $('#password').removeClass();
            $('#password').addClass('form-control is-valid');
            return true;
        } else {
            $('#password-strength-status').removeClass();
            $('#password-strength-status').addClass('medium-password');
            $('#password-strength-status').html("Das Passwort muss mindestens einen Buchstaben, eine Zahl und ein Sonderzeichen enthalten.");
            $('#password').removeClass();
            $('#password').addClass('form-control is-invalid');
            $('#password').focus();
            return false;
        }
    }
};
    
function checkPasswordConfirm() {
     if($('#password').val() == $('#confirm').val()){
        
        $('#password-correct').removeClass();
        $('#password-correct').addClass('strong-password');
        $('#password-correct').html("");
        $('#confirm').removeClass();
        $('#confirm').addClass('form-control is-valid');
        return true;
     } else{
        $('#password-correct').removeClass();
        $('#password-correct').addClass('strong-password');
        $('#password-correct').html("Die Passwörter stimmen nicht überein.");
        $('#confirm').removeClass();
        $('#confirm').addClass('form-control is-invalid');
        $('#confirm').focus();
        return false;
     }
}
</script>

</body>
</html>