{% extends 'base.html.twig' %}

{% block body %}
    <section class="ftco-section">
        <div class="container">
            <div class="row d-md-flex">
                <div class="col">
                    <div class="alert alert-info" role="alert">
                        <p>Es ist erforderlich, dass Sie Ihren Account bestätigen.</p>
                        <p>Wir haben Ihnen eine E-Mail gesendet. Bitte klicken Sie auf den Link in der E-Mail, um Ihren Account zu bestätigen.</p>
                        <p><a href="{{ path('index') }}" class="btn btn-info">Weiter</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}